<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smashedin.smashedin"
    android:versionCode="9"
    android:versionName="4.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
<permission android:name="com.smashedin.smashedin.permission.MAPS_RECEIVE"
         android:protectionLevel="signature"/>

<uses-permission  android:name="com.smashedin.smashedin.permission.MAPS_RECEIVE"/>
 <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA" />
       <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  
  <uses-feature android:name="android.hardware.camera" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-feature android:name="android.hardware.camera.autofocus" />
     <uses-permission android:name="com.smashedin.smashedin.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  
     <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sappicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity 
            android:name="com.smashedin.smashedin.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"
            		android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <activity  android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.smashedin.facebook.HelloFacebookSampleActivity">
	    </activity>
	    <activity 
            android:name="com.smashedin.smashed.OverHeardActivity"
            android:label="Overheards"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
           
	        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@layout/searchable"/>
        </activity>
       <activity 
            android:name="com.smashedin.reviews.ReviewActivity"
            android:label="Places"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
           
	        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name="com.smashedin.reviews.SmashedReview"
            android:label="Places"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/StyledIndicators">
        </activity>
        <activity
            android:name="com.smashedin.reviews.ListGroupsFriends"
            android:label="My Groups"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/StyledIndicators">
        </activity>
        
	    <provider
		   android:authorities="com.smashedin.search.SampleRecentSuggestionsProvider"
		   android:name="com.smashedin.search.SampleRecentSuggestionsProvider" >
		</provider>
  <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
	    
<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
  <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCXt7JyUB8NGUmzRMEWVdfsunXqzmzC-Qo" />
 <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
         <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    </application>

</manifest>
